<footer class="site-footer">
    <div class="footer-grid">
        <div>
            <h4>Kontakt</h4>
            <p>info@dinsida.se</p>
            <p>+46 70 123 45 67</p>
        </div>
        <div>
            <h4>Länkar</h4>
            <a href="#about">Om oss</a><br />
            <a href="#services">Tjänster</a>
        </div>
        <div>
            <h4>Följ oss</h4>
            <a href="#">Instagram</a><br />
            <a href="#">Facebook</a>
        </div>
    </div>
    <p class="copyright">© 2025 Solsta Rehab</p>
</footer>
