@inherits LayoutComponentBase

<div class="app-shell">
<header class="header">

    <!-- Bakgrundsvideo -->
    <video autoplay muted loop playsinline class="header_video">
        <source src="videos/header.mp4" type="video/mp4" />
    </video>

    
    <div class="header_overlay_info">
        <h1>Solsta Rehab</h1>
        <p>Rörelse • Styrka • Balans</p>
    </div>



   
    <NavMenu/>

  
    
       
    
</header>

<main class="page">
    @Body
</main>

<Footer/>

</div>