<nav class="nav-container">
    <ul class="nav-menu">
        <li><NavLink href="/" Match="NavLinkMatch.All" class="nav-link">Start</NavLink></li>
        <li><NavLink href="#about" class="nav-link">Om oss</NavLink></li>

        <!-- Dropdown-exempel -->
        <li class="dropdown">
            <a class="nav-link" href="#services">Tjänster ▾</a>
            <ul class="dropdown-menu">
                <li><a href="#training">Träning</a></li>
                <li><a href="#rehab">Rehab</a></li>
                <li><a href="#nutrition">Kost</a></li>
            </ul>
        </li>

        <li><NavLink href="#contact" class="nav-link">Kontakt</NavLink></li>
    </ul>
</nav>
